body {
    background: linear-gradient(#AAB2D5, #E9ECF8, #AAB2D5);
    width: 98%;
}

.grid {
    display: grid;
    grid-template-columns: [x0] 0.75fr [x1] 3fr [x2] 1fr [x3];
    grid-template-rows: [y0] 0.75fr [y1] 3fr [y2] 1fr [y3] 0.5fr [y4];
    justify-items: center;
    align-items: center;
    
  }

  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Shippori+Antique+B1&display=swap');
* {
    font-family: 'Inter';
    font-style: normal;
}

.header {

    grid-column: x0 / x3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    margin-left: 0%;

    width: 520px;
    height: 48px;

}

/*.logo {

    
}*/
  
.tablero {
    
    grid-column: x1 / x2;
    grid-row: y1 / y2;
    
}
  
.content {
    grid-column: x1 / x2;
    grid-row: y2 / y3;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*.grupo-botones{
    
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: relative;
    width: 650px;
    height: 67px;
}*/


.botones{
    font-size: 16px;
    border-radius: 24px;
    border: 1px solid;
    height: 50px;
    text-decoration: none;
    text-align: center;
    width: 55%;
    outline: none;
    
    box-sizing: border-box;
    
    cursor: pointer;
    
    position: relative;
    align-items: flex-start;
}


.botones-0{
  
    background: #0A3871;
    color: white;
        
}

.botones-1{

    position: static;    
    background: #D8DFE8;
    box-sizing: border-box;
    
}

.botones-0:hover {
    background-color: #072B61; 
    box-shadow: 0px 20px 20px -8px #343A40;
    color: white;
    font-size: 21px;
}

.botones-1:hover {
    background-color: #EFF1FA; 
    box-shadow: 0px 20px 20px -8px #343A40;
    font-size: 21px;
}

.campo-medio {
    position: absolute;
    width: 577px;
    height: 48px;
    left: 180px;
    top: 168px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;

    border-style: none;
    background: none;
    
    color: #0A3871;
}

.correctWord {
    margin: 30px;
    height: 30px;
    list-style: none;
}

.correctWord li {
    float: left;
    width: 80px;
    height: 60px;
    font-size: 48px;
    color: #0A3871;
    margin: 0 30px 0 30px;
    border-bottom: solid 4px #0A3871;
}

#wrongWord {
    text-align: center;
    font-weight: 400px;
    font-size: 24px;
    color: #0A3871;
    height: 30px;
}

.page_1 {
    margin-top: 50%;
    margin-left: 100%;
}

.page_1 .grupo-botones div {
    margin: 20px;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;

    position: relative;
    width: 650px;
    height: 67px;
}

.page_1 .botones {
    width: 317px;
}

.page_1 .botones-0 {
    height: 95px;
}

.page_2 .grupo-botones div {
    margin: 20px;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: relative;
    width: 650px;
    height: 67px;
}

/*.page_2{
    margin: 0 25% 0 25%;
}

.page-3{
    display:grid;
    visibility:hidden;
}*/
  

.keyboard {
    background: transparent;
    color: #E5E5E5;
    outline: none;
    border: none;
    display: none;
}

.btn-keyboard {
    float: right;
    border: none;
    background-color: transparent;
    color: #AAB2D5;
    display: none;
}

.btn-keyboard svg {
    height: 20px;
    width: 20px;
    border: none;
    outline: none;
}

.btn-keyboard:hover {
    color: #0A3871;
}

/* popup */

.background-popup {
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    opacity: 1;
    visibility: visible;
}

.popup {
    color: #AAB2D5;
    width: 30%;
    padding: 2%;
    border-radius: 17px;
    background-color: #EAFAF1;
    position: relative;
    margin: 20% auto;
    transition: all 5s ease-in-out;
    text-align: center;
}

#closePopup {
    float: right;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    transition: all 200ms;
    border-radius: 100px;
    border: none;
    outline: none;
    background-color: #AAB2D5;
}

#closePopup:hover {
    color: #EAFAF1;
}



.aviso-prohibidos{
    position: static;
    width: 205px;
    height: 18px;
    left: 24px;
    top: 0px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;

    /* identical to box height, or 18px */

    /* Gray/gray-400 */
    color: #495057;

    opacity: 0.8;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;

    visibility:hidden;


}

.exclamacion{
    position: static;
    width: 16px;
    height: 16px;
    left: 0px;
    top: 1px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 8px;

    visibility:hidden;

}


.footer {
    
    grid-column: x0 / x3;
    grid-row: y3/y4;
}

.copyright {
    font-size: 13px;
    margin: 15px 0px 40px 0px;
}

.profile-INSTAGRAM {
    background-image: url("img/icon-instagram-big.svg");
    background-size: 30px 30px;
}

.profile-LINKEDIN {
    background: url("img/icon-linkedin-big.svg");
    background-size: 24px 24px;
}

.profile-TWITTER {
    background-image: url("img/icon-twitter-big.svg");
    background-size: 30px 30px;
}

.profile-GITHUB {
    background-image: url("img/icon-github-big.svg");
    background-size: 30px 30px;
}

.profile-description {
    display: none;
}

.profile-link {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-position: 50%;
    padding: 5px;
    background-repeat: no-repeat;
    display: inline-block;
}



@media screen and (max-width:480px){

    /*para hacerlo responsive más adelante*/
}